# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.git/


.idea/
.sass-cache/
coverage/
node_modules/

$RECYCLE.BIN/
_sandbox1_animation/
_sandbox2_modalWindow/
_sandbox3_parallex/
_sandbox4_gulp-webpack-react-babel/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
manifest.json
service-worker.js
asset-manifest.json