.headerIntro {
    background-image: url('./Layer\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 800px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerIntro h1 {
        font-size: 60px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        line-height: 0.45;
        font-weight: normal;
}

.startTour {
    font-size: 15px;
    font-family: "Raleway";
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-decoration: none;
    
  }

  .headerIntro a {
    border-color: rgb(255, 255, 255);
    display: flex;
    border-style: solid;
    border-width: 1.8px;
    width: 171px;
    height: 51px; 
    align-items: center;
   
    
  }
  /* .START_TOUR {
    font-size: 15px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.8px;
    position: absolute;
    left: 912.469px;
    top: 503.175px;
    z-index: 436;
  } */
  
  
  

  
  
  