// @use './custom' as *;

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");



$blue-light: rgb(0, 225, 255);
$gray-light: rgb(146, 155, 160);
$gray-mid: rgb(200, 205, 206);
$gray-dark: rgb(63, 66, 68);
$white-font: rgb(255, 255, 255);
$primary: $blue-light;
$secondary: $gray-light;
$body-color: $gray-light;
$mainFont: "Raleway", sans-serif;

$link-color: $white-font;
$link-hover-color: $blue-light;
$border-color: $blue-light ;
$border-top-color: $blue-light;

$font-family-base: $mainFont;
$font-family-sans-serif: $mainFont;

$headings-font-family: $mainFont ;
$input-btn-font-family: $mainFont ;

$secondary-background-color: rgba(255, 255, 255, 0.3);
$gray-verylight: rgb(247, 247, 247);

body {
  font-family: $mainFont;
  // color:rgb(146, 155, 160);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-dark;
}

p {
  color: $gray-light;
}



li:hover {
  color: $blue-light;
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions"; // Required
@import "~bootstrap/scss/variables"; // Required
@import "~bootstrap/scss/mixins";